# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pickles
*.pkl

# PyCharm
.idea/

# VS Code
.vscode/

# Tests
.cache

# Jupter Notebook
.ipynb_checkpoints

# Datasets
textbrush/datasets/data/cifar-10-batches-py
textbrush/datasets/data/MNIST/

# pixi environments
.pixi/*
!.pixi/config.toml

# Model weights
textbrush/applications/weights/
